@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-light: #fff;
$font-grey: #a2a2a2;
$font-dark: #1C1427;

$font-background-light: #FFF;
$font-background-gray-light: #fafafa;

$border-gray: #dbdbdb;
$border-dark: #1C1427;

$action: #CCFFBD;
$action2: #7ECA9C;
$danger: #ed4956;
$success: #6A8CAF;

$telefono: 767px;
$tablet: 768px;
$desktop: 1024px;

$fuente_principal: 'Roboto', sans;